body {
	background-color:#d8d7bf;
	font-family:verdana, Serif;
}
h1,h4 {
	text-align:left;
	color: black;
	font-family: verdana, Serif;
}

h1,h4 {
	text-align:left;
	color: black;
	font-family: verdana, Serif;
}

h1,h4 {
	text-align:left;
	color: black;
	font-family: verdana, Serif;
}

img {
    width:65%;
    height:65%;
}

a{
	font-size: 30px;
}
