img {
	width: 50%;
	height:50%;
	background-color:#d8d7bf
	padding: 20px 20px;
	border-radius: 20px;
	margin:20px;
}

img {
	overflow-clip-margin: content-box;
	overflow:clip;
}
body {
	background-color:#d8d7bf;
	font-family:verdana, Serif;
}
h2,h3 {
	text-align:left;
	color: black;
	font-family: verdana, Serif;
}

h2,h3 {
	text-align:left;
	color: black;
	font-family: verdana, Serif;
}

h2,h3 {
	text-align:left;
	color: black;
	font-family: verdana, Serif;
}

img {
    width:60%;
    height:60%;
}

a{
	font-size:30px;
}
